:root {
    --game-size: 2;
    --position-size: 1fr;
}

.gameContainer {
    width: 30em;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(var(--game-size), var(--position-size));
    grid-template-columns: repeat(var(--game-size), var(--position-size));
}

.position {
    border-style: solid;
    padding: 5em;
}